/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}



/* COMMON */
body{
    font-family: 'Montserrat', sans-serif;
}
.wrapper{
    width: 100%;
    height: 100vh;
}

/* Texts */
.white-text{
    color: white;
}
.gray-text{
    color: #5d5d5d;
}
.light-gray-text{
    color: #787a7f;
}
.bold-text{
    font-weight: 800;
}
.light-bold-text{
    font-weight: 600;
}
.extra-small-text{
    font-size: 13px;
}
.normal-text{
    font-size: 15px;
}
.medium-text{
    font-size: 18px;
}
.big-text{
    font-size: 25px;
}

/* Upgrade */
.upgrade-bar{
    height: 80px;
    width: calc(100% - 230px);
    float: right;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
}
.upgrade-btn{
    margin-right: 20px;
    padding: 13px 35px;
    border: 1px solid white;
    border-radius: 60px;
}
.upgrade-btn:hover{
    transform: scale(1.1);
}







/* MAIN */
main{
    width: 100%;
    height: calc(100vh - 80px);

    /* Test */
    background-color: lightgray;
}


/* Main nav */
.main-nav{
    float: left;
    width: 230px;
    height: 100%;
    background-color: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Logo */
.big-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.big-logo img{
    width: 80%;
    height: 100px;
}
.small-logo{
    display: none;
}

/* Action menu */
.action-menu{
    padding: 5px 0 25px;
}
.action-menu li{
    margin-top: 15px;
    padding-left: 20px;
    font-weight: 600;
}
.action-menu-icon{
    display: inline-block;
    width: 25px;
    margin-right: 3px;
    vertical-align: middle;
}
.left-active{
    border-left: 3px solid #67991c;
}
.not-active{
    border-left: 3px solid black; 
}

/* Playlists */
.playlist-container{
    flex-grow: 1;
    overflow: hidden;
    padding-left: 20px;
}
.create-playlist a.normal-text.gray-text.bold-text{
    display: inline-block;
    margin: 20px 5px 20px 0;
}
.create-playlist a::before{
    display: inline-block;
    content: "+";
    padding: 1px 10px;
    background-color: gray;  /* Plus Button */
    margin-right: 5px;
    color: black;
    font-size: 30px;
    vertical-align: middle;
}
.playlist-container ul{
    overflow-y: auto;
    height: 70%;
}
.playlist-container li{
    margin-top: 15px;
    font-weight: 600;
}

/* User */
.user-container{
    padding: 20px;
}
.install-app i{
    margin-right: 3px;
    display: inline-block;
    vertical-align: middle;
}
.install-app::after{
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #2f2f2f;
    margin: 10px 0;
}
.profile-icon{
    display: inline-block;
    vertical-align: -5px;
    width: 25px;
    border-radius: 50%;
    margin: 10px 5px 0 0;
    background-color: gray;
}


/* Main nav effects */
.main-nav a:hover{
    color: white;
}
.create-playlist a:hover::before{
    background-color: white;
}




/* Main content */
.main-content{
    float: left;
    width: calc(100% - 230px);
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    background-color: #141922;
    padding-top: 90px;
}

/* Main-content-menu */
.content-menu-container ul{
    margin: auto;
    text-align: center;
}
.content-menu-container li{
    display: inline-block;
    margin: 1% 1%;
}
.content-menu-container a.bottom-active::after{
    display: block;
    content: "";
    height: 2px;
    width: 30%;
    margin: 5px auto;
    background-color: #6c9e29;
}

/* Recently played - For John Doe - Popular artists*/
.main-container{
    width: 95%;
    margin: 35px auto;
}
.album-flex{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-shrink: 0;
}
.album-box{
    width: calc( (100% / 6) - 20px);
    margin: 20px 20px 0 0;
    text-align: center;
}
.image-and-overlay{
    position: relative;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 60px;
    display: none;
}
.album-flex .album-name{
    font-size: 18px;
    margin: 8px 0 5px;
}
.for-you h2{
    margin: 8px 0;
}
.popoular-artists img, 
.popoular-artists .overlay{
    border-radius: 50%;
}




/* Main content effects */
.content-menu-container a:hover{
    color: white;
}
.image-and-overlay:hover .overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}




/* M */
@media screen and (min-width:700px) and (max-width:1100px){
    .album-box{
        width: calc( (100% / 4) - 20px);
    }
}
/* S */
@media screen and (max-width:700px) and (min-width:601px){
    .album-box{
        width: calc( (100% / 2) - 20px);
    }
}
/* XS */
@media screen and (max-width:600px) {
    .main-nav{
        width: 60px;
    }
    .big-logo{
        display: none;
    }
    .small-logo{
        width: 60%;
        display: inline-block;
        margin: 5px  auto;
    }
    .action-menu{
        flex-grow: 1;
        padding: 0;
    }
    .action-menu-icon{
        display: flex;
        margin: 0 -8px;
        width: 80%;
    }
    .left-active{
        border-left-color: black;
    }
    .action-menu-name,
    .playlist-container,
    .profile-name,
    .install-text,
    .install-app::after{
        display: none;
    }
    .profile-icon{
        width: 35px;
        position: relative;
        right: 5px;
    }
    .main-content{
        width: calc(100% - 60px);
    }
    .upgrade-bar{
        width: calc(100% - 60px);
    }
    .album-box{
        width: calc( (100% / 2) - 20px);
    }
}



/* FOOTER */
footer{
    width: 100%;
    height: 80px;
    overflow: hidden;
    background-color: #282828;
}